@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="banner">
        <img src="~/img/truck.jpg" />
        <img src="~/img/logo.jpg" />
    </div>
    <hr />
    <div class="mission">
        <h3>
            Need Quality Construction?
            We're on Your Side
        </h3>
        <p>Your home is the most important asset you have, so when you’re ready to build or remodel, contact Briney Construction Services Inc. for a FREE quote. Call, text, or email and you will get a fast response. Nobody wants to call and wait for days before they hear from anyone, right?</p>
        <p>We specialize in residential construction. We try to use the best materials available, and we make sure to take all necessary training and gather all needed information to ensure the procedures we use are up-to-date in style and technique. Our estimates are reasonably priced and professionally done. We make sure you know exactly what to expect when the job is done.</p>
        <p>We offer a 1 year warranty for all services provided. Most importantly, we work hard to finish each project on time and under budget. We work around your schedule, customer satisfaction is our #1 priority.</p>
    </div>
    <hr />
    <div class="services">
        <h3>Services</h3>
        <div class="row ml-lg-5">
            <div class="col-md-4">
                <ul>
                    <li>Siding</li>
                    <li>Soffit / Fascia</li>
                    <li>Doors / Windows</li>
                    <li>Decks</li>
                    <li>Concrete Flatwork</li>
                    <li>Garages</li>
                    <li>Pole Barns</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Sheds</li>
                    <li>Kid's Playground</li>
                    <li>Additions</li>
                    <li>3 Seasons Rooms</li>
                    <li>Bathroom Remodels</li>
                    <li>Kitchen Remodels</li>

                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Basement Remodels</li>
                    <li>Interior Doors (bi-folds, pocket doors, sliding doors)</li>
                    <li>Custom Built-ins</li>
                    <li>Trim / Crown Moulding</li>
                    <li>Stair Railing</li>
                    <li>Flooring / Tile</li>
                </ul>
            </div>
        </div>
    </div>
    <hr />
    <div class="contact">
        <h3>Contact</h3>
        <div class="contact-info">
            <p>1324 Benton Harbor, MI 49022</p>
            <p>Open: Monday - Friday 8AM to 7PM</p>
            <p>Phone: 269-369-2242</p>
            <p>Fax: 269-588-4607</p>
            <p>Email: joshuabriney@yahoo.com</p>
        </div>
    </div>

</div>
